*
{
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
}

.header-wraper
{
    background-color: #1F2937;
    height: 34rem;
}

.header-container
{
    width: 72.0rem;
    display: flex;
    justify-items: left;
    justify-content: space-between;
    padding: 1.6rem;
    /* gap: 38rem; */
}

.header-logo    
{
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
}

.header-links   
{
    margin-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4rem;
}

.header-links a
{
    font-family: sans-serif;
    color: rgb(184, 184, 184);
    font-size: 1rem;
    /* font-weight: bold; */
    text-decoration: none;
}

.hero-section
{
    display: flex;
    margin: 1.4rem 8rem;
    margin-top: 0;
    align-items: center;
    justify-content: left;
    gap: 3.2rem;
}

.hero-left
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 30rem;
    color: white;
}

h1.main-title
{
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: 1.px;
    font-weight: bold;
}

.hero-text  
{
    color: #c3c3c3;
    font-weight: 200;
    /* letter-spacing: 1px; */
    line-height: 1.4rem;
    margin-bottom: 1.2rem;
}

.hero-img
{
    clip-path: inset(15% 0 15% 0);
    width: auto;
    height: 25rem;
    object-fit: cover;
}

.btn-signup
{
    margin-left: 0;
    background-color: #2068cb;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 2.4rem;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.body-wraper
{
}